body {
    font-family: "Arial";
    color: #3B3B3B;
    background: #909090;
}

.panel {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    border-radius: 0;
    background: transparent;
}

.modal-content {
    width: 100%;
    margin: 0px auto;
    border: 0px;
    overflow: auto;
    border-radius: 0%;
}

.login-or {
    position: relative;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 8px;
}

.hr-or {
    color: #cdcdcd;
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.panel-left-border {
    border-left-style: solid;
    border-left-color: #F5F5F5;
    border-left-width: 2px;
}

.panel-right-border {
    border-right-style: solid;
    border-right-color: #F5F5F5;
    border-right-width: 2px;
    margin-right: -2px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    text-align: center;
    padding: 0px 5px 0px 5px;
    color: #A3A3A3;
}

.span-or-verical {
    font-size: 16px;
    display: block;
    position: absolute;
    top: 40%;
    margin-left: -25px;
    background-color: #fff;
    text-align: center;
    color: #A3A3A3;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-customizable {
    max-width: 60%;
    max-height: 30%;
}

.banner-customizable {
    padding: 25px 0px 25px 0px;
    background-color: lightgray;
}

.label-customizable {
    font-weight: 400;
}

.textDescription-customizable {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 16px;
}

.idpDescription-customizable {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 16px;
}

.legalText-customizable {
    color: #747474;
    font-size: 11px;
}

.submitButton-customizable {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.submitButton-customizable:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.errorMessage-customizable {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    background: #F5F5F5;
    border: 2px solid #D64958;
    color: #D64958;
}

.inputField-customizable {
    width: 100%;
    height: 34px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}

.inputField-customizable:focus {
    border-color: #66afe9;
    outline: 0;
}

.idpButton-customizable {
    height: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    width: 100%;
}

.idpButton-customizable:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.socialButton-customizable {
    height: 40px;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
}

.passwordCheck-notValid-customizable {
    color: #DF3312;
}

.passwordCheck-valid-customizable {
    color: #19BF00;
}

.background-customizable {
    background-color: #fff;
}

.social-logo{
    width:35px;
    height:100%;
    text-align:center;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.Notice-This-system {
  width: 560px;
  height: 254px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #9b9b9b;
}

.passwordIndicatorSection {
    margin-top: 10px;
}

ul {
    padding: 0
}

li {
    font-size: 13px
}